.ugb-team-member.image-circle .team-member-image{
    width: 150px !important;
    height: 150px !important;

}
.ugb-team-member h4{
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.ugb-team-member .ugb-team-member-position{
    font-size: 1rem;
}

.padding-text{
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Separator block */
.is-style-default{
    height: 3px;
    max-width:200px;
    background-color:black;
}
